#history{
    background: var(--color-primary);
    display: flex;
    flex-direction: column;
    height: 70vh;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#history .title{
    color: var(--color-text);
    width: 40%;
}

#history .title h1{
    font-size: 3.5rem;
    margin-bottom: 30px;
}

#history img{
    margin-top: 20px;
    width: 200px;
}

@media screen and (max-width: 999px){
    #history{
        padding: 0 10px;
    }
    #history .title{
        width: 100%;
    }
    #history .title h1{
        font-size: 2rem;
    }
}

